<?xml version="1.0"?>
<launch>
<!--Comentario-->
<param name="enable_ang_speed_filter"   type = "bool"    value="True"/>
<param name="frecuency"   type = "int"    value="100"/>
<!--<param name="path_type"               type = "str"    value="line"/>  ellipse, lemniscate, spiral, line, sine-->
<node name="IMU_Encoder" pkg="jetauto_drivers" type="imu_encoder.py" output="screen"/>

</launch>
